<%= before %>
<table>
  <tr>
    <%- t_attrs.each do |name, args, opts| -%>
      <%- case name -%>
      <%- when :columns -%>
        <tr>
        <%- args.each do |arg| -%>
          <th><%%= <%= opts[:header] || "t('#{arg.v}')" %> %></th>
        <%- end -%>
        </tr>
        <%%- objs.each do |obj| -%>
          <tr>
          <%- args.each do |arg| -%>
            <td><%= render(arg) %></td>
          <%- end -%>
          </tr>
        <%%- end -%>

      <%- when :paginate -%>
        <%= "pagenate_elem" %>

      <%- else -%>

      <%- end -%>
    <%- end -%>
  </tr>
</table>
<%= after %>
