<table>
<%- <<EOS
usable method:
 * t_attrs
 * render
 * names defined in template block
EOS
-%>
    <%- t_attrs.each do |name, items, opts| -%>
      <%- case name -%>
      <%- when :columns -%>
        <tr>
        <%- items.each do |item| -%>
          <th><%%= <%= opts[:header] || "t('#{item.v}')" %> %></th>
        <%- end -%>
        </tr>
        <%%- <%= opts[:enum] ? opts[:enum].first : '@objs' %>.each do |<%= opts[:enum] ? opts[:enum].last : 'obj' %>| -%>
          <tr>
          <%- items.each do |item| -%>
            <td><%= render(item) %></td>
          <%- end -%>
          </tr>
        <%%- end -%>
      <%- when :paginate -%>
        <%= "pagenate_elem" %>
      <%- else -%>
      <%- end -%>
    <%- end -%>
</table>
